.dp-action-save 
{vertical-align: middle; padding: 0; margin: 0; width: 18px; height: 16px; background: url("../img/dp_title_save.png") no-repeat center center; border: none}
.dp-action-cancel 
{vertical-align: middle; padding: 0; margin: 0; width: 18px; height: 16px; background: url("../img/dp_title_cancel.png") no-repeat center center; border: none}

.dp-edit-handel 
{vertical-align: middle; padding: 0; margin: 0; width: 18px; height: 16px; background: url("../img/dp_edit_btn.png") no-repeat center center; border: none}